.cart_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin: 2rem;
    border-bottom: 5px solid brown;
    text-transform: capitalize;
}

.thead_tr_divs{
    text-transform: capitalize;
}

.cart_th__image{
    && img{
        height: 100px;
        width: 100px;
       }
}

.cart_para{
    text-align: center;
    font-size: 30px;
    margin: 5rem;
    font-weight: 500;
}
