.auth_form__container{
    background: #22c1c3;
    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/padding: 1rem;
    
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}

.heading_sign__up{
    font-weight: bold;
    color: white;
    padding: 1rem;
    text-transform: capitalize;
}

.para_sign__up{
    margin-top: 3rem;
    font-weight: 500;
    font-size: large;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}

a:hover{
    text-decoration: none;
    text-transform: capitalize;
    font-size: larger;
}


.pass_match{
    background-color: yellowgreen;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.pass_not__match{
    background-color: tomato;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.loading_state{
    background-color: slategrey;
    font-weight: 500;
    font-size: 25px;
    color: white;
    padding: 10px;
}