.product_page__div {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  padding: 8rem;

  & .grid_three__columns {
    /*background-color: orange;
        */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 5rem;
    padding: 3rem;

    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}
