.navbar_container{
    /* background-color: orange; */

    && ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    && li{
        text-transform: capitalize;
        font-size: 20px;
    }
}

.navbar_icons{
    font-size: 2rem;
    cursor: pointer;
}

.cart_badge{
    position:relative;
    right: -12%;
    height: 25px;
    width: 25px;
    padding: 2px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 15px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}